h2{
	color: darkorange;
	text-align: center;
	font-weight: 400;
	font-size: 37px;
}



a{
	text-decoration: none;
	color:white;
}

.archiv{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.block{
	text-align: center;
	display: inline-block;
	font-size: 29px;
	padding: 70px;
	margin: 20px;
	width: 25%;
	color: aliceblue;
	background: linear-gradient(to bottom, #bd1e76 0%, transparent 100%);
	transition-property:all;
	transition-duration: 0.5s;
}

.block:hover{
	background: linear-gradient(to bottom, #bd1e76 0%, #bd1e76 100%);
	color: yellow;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(255,255,0,1);
}

/*АРХИВ */

table{
	border-collapse: collapse;
    text-align: center;
	vertical-align: baseline;
	padding: 20px 5px;
	background-color: rgba(250,211,255,0.7);
}
table th{
	padding: 5px;
	color: darkmagenta;
	font-size: 26px;
}

table td{
	padding: 5px;
	font-family: 'Abel', sans-serif;
}
table tr{
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

table td:first-child{
	color: darkmagenta;
	font-size: 26px;
}

table caption{
	color: mediumvioletred;
	padding: 5px;
	font-size: 22px;
}

.cool{
	background-color: rgba(66, 161, 255,0.7);
	color:darkblue;
}
.hot{
	background-color: rgba(255, 255, 66,0.7);
	color: red;
}
.norma{
	background-color: aliceblue;
}

.norma_earth{
	border:3px solid yellow;
	background-color:lightgreen;
	color:darkslateblue;
}
.itog_earth{
	border:3px solid red;
	color:darkblue;
}

/*ТАБЛИЦЫ СО СТАТИСТИКОЙ*/

.statitistica{
	display: flex;
	flex-direction: row;
	
}

/*Форма админ отправления*/

.table_admin input[type="text"]{
	width: 40px;
	height: 20px;
	background-color: transparent;
	border: 1px solid darkblue;
}
.table_admin button{
	background-color: deeppink;
	border: none;
}















